#caja1,#caja3 {
  background-color:#f99;
  font-family:verdana;
  font-size:1.3rem;
}
#caja2 {
  background-color:rgb(161, 161, 40);
  font-size:1.3rem;
  position:absolute;
  left:40px;
  top:30px;
}