body {
    background-color: rgb(104, 89, 89);
}

h1 {
    color: rgb(35, 35, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25 px;
    text-decoration: underline;
}
p{
    text-align: justify;
    color: rgb(89, 143, 107);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}