#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  background-color: #66c81f;
}
#item2 {
  flex-shrink: 0;
  background-color: #ecf717;
}
#item3 {
  background-color: #811090;
}