#contenedor1{
  display: flex;
  flex-direction: column;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {
  background-color: #41b9e9;
}
#item2 {
  background-color: #0a779e;
}
#item3 {
  background-color: #04749c;
}