#contenedor1{
  display: flex;
  background-color: #000;  
  height: 300px;
  color:white;
  font-size:2rem;
}

#item1 {  
  background-color: #0c6014;
}
#item2 {
  flex-grow: 1;
  background-color: #117582;
}
#item3 {
  background-color: #5b0d1d;
}