#contenedorform {
  width:500px; 
  margin-left:20px; 
  margin-top:10px;
  background-color:#ffe;
  border:1px solid #caa7a7;
  padding:10px 0 10px 0;
}

#contenedorform form label {
  width:120px; 
  float:left;
  font-family:verdana;
  font-size:14px;
}
.botonsubmit {
  color:rgb(244, 68, 250);
  background-color:#bbb;
  border: 1px solid #fff;
}